﻿@model Project.Models.Category

@{
    ViewBag.Title = "Delete";
}


<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>List</h4>
    <hr />
    <dl class="dl-horizontal">
    
        <dd>
            <button>   @Html.DisplayFor(model => model.CategoryName)</button>
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to Lists", "Index","Home")
        </div>
    }
</div>
